@CHARSET "ISO-8859-1";
/* Reset CSS
* --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
padding: 0;
margin: 0;
}
a{
  text-decoration:none;
  cursor: pointer;
}
table {
border-spacing: 0;
}
fieldset,img {
border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
font-weight: normal;
font-style: normal;
}
strong{
font-weight: bold;
}
ol,ul {
list-style: none;
margin:0;
padding:0;
}
caption,th {
text-align: left;

}
h1,h2,h3,h4,h5,h6 {
font-weight: normal;
font-size: 100%;
margin:0;
padding:0;
}
q:before,q:after {
content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
* --------------------------------------- */
@font-face {
font-family: 'Bebas';
src: url( "fonts/Bebas/BEBAS.ttf");
}
@font-face {
font-family: 'SourceSansPro-Light';
src: url( "fonts/source-sans-pro/SourceSansPro-Light.otf");
}
body{
font-size: 2vh;
font-family: 'SourceSansPro-Light', sans-serif; 
color: #F2F2F2;
}

h1{
font-family: 'Bebas', sans-serif; 
font-size: 350%;
padding-left: 2%;
padding-right: 2%;
}
h2{
font-family: 'SourceSansPro-Regular', sans-serif; 
font-size: 300%;
padding-left: 3%;
padding-right: 3%;
}
p{
font-size: 200%;
font-family: 'SourceSansPro-Light', sans-serif;
padding-left: 4%;
padding-right: 4%;
}

.section{
text-align:center;
}


img {
background-size: cover;
background-repeat: no-repeat;
max-height: 100%;
max-width: 100%;
align-self: center;
object-fit: contain;
}

.content.containercenter {
height: 100%;
display: flex;               
justify-content: center;
}

.spinitem {
-webkit-animation: rotate 2.5s ease forwards;
animation: rotate 2.5s ease forwards;
}

@-webkit-keyframes rotate {
100% { -webkit-transform: rotate(1440deg); }
}

@keyframes rotate {   
100% { transform: rotate(1440deg); }    
}

.bottomCenter {
width: auto; height: 40px; position: static;left: 50%;bottom: 0px; z-index: 10; margin-bottom: 10%;
margin-left: -60px;
}

.fp-slidesNav{
white-space: nowrap;
text-align: center;
}

.btn-continue {
animation: 50s fadeIn;
animation-fill-mode: forwards;

visibility: hidden;
}


@keyframes fadeIn {
0% {
opacity: 0;
}
100% {
visibility: visible;
opacity: 1;
}
}

.left-icon {
vertical-align: middle; width: 16px; height: 16px;padding-right: 0.4%;
}



.btn {
position: relative;

display: block;
margin: 2vh auto;
padding: 0;
font-weight: bold;

overflow: hidden;

border-width: 0;
outline: none;
border-radius: 2px;
box-shadow: 0 1px 4px rgba(0, 0, 0, .6);

background-color: #333;
color: #ecf0f1;
/*color: #F44336;*/

transition: background-color .3s;
}

.btn:hover, .btn:focus {
background-color: #303f9f;
cursor: pointer;
}

.btn > * {
position: relative;
}

.btn span {
display: block;
padding: 12px 24px;
}

.btn:before {
content: "";

position: absolute;
top: 50%;
left: 50%;

display: block;
width: 0;
padding-top: 0;

border-radius: 100%;

background-color: rgba(236, 240, 241, .3);

-webkit-transform: translate(-50%, -50%);
-moz-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
-o-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
}

.btn:active:before {
width: 120%;
padding-top: 120%;

transition: width .2s ease-out, padding-top .2s ease-out;
}


/* Section 1
* --------------------------------------- */
#section0{
/*background-color: #fff;*/
}
#section0 h1{
color: #F44336;
}
#section0 p{
color: #333;
opacity: 0.8;
}

/* Section 2
* --------------------------------------- */
#section1{
/*background-color: #2EBE21;*/
}
#section1 h1{
color: #333;
}
#section1 h2{
color: #2EBE21;
opacity: 0.8;
}
#section1 p{
color: #333;
opacity: 0.8;
}


/* Section 3
* --------------------------------------- */
#section2{
/*background-color: #EAE1C0;*/
}
#section2 h1{
color: #555;
}
#section2 p{
color: #444;
opacity: 0.6;
}

/* Section 4
* --------------------------------------- */
#section3{
/*background-color: #DE564B;*/
}
#section3 h1{
color: #fff;
}
#section3 p{
color: #F2F2F2;
opacity: 0.7;
}

/* Section 5
* --------------------------------------- */
#section4{
/*background-color: #1BBC9B;*/
}
#section4 h1{
color: #fff;
}
#section4 p{
color: #fff;
opacity: 0.9;
}

.bottomCenter {
	z-index: 123123123213;
/*width: 120px; height: auto; position: absolute;left: 50%;bottom: 0px; z-index: 100; margin-bottom: 10%;
margin-left: -60px;*/
}

.icon {
	width: 48px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.caption {
    display: block;
    color: #555;
}

.profilePic {
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.xButton {
	display: inline-block;
    padding: 6px 10px;
    color: #fff;
    /*border: 1px solid #333;*/
    background-color: #303f9f;
    border-radius: 3px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    outline: none;
    /*text-shadow: 2px 2px 4px #fff;*/
    /*box-shadow: 0px 2px 10px #fff;*/
    border-radius: 2px;
	/*box-shadow: 0px 1px 1px #fff;*/
}

.xButton:hover, .xButton:focus {
background-color: #333;
color: #fff;
cursor: pointer;
/*text-shadow: 2px 2px 4px #333;*/
/*box-shadow: 0px 1px 1px #fff;*/
}

.btn:before {
content: "";
background-color: #303f9f;
}

.section {
  padding-left: 8vw;
  padding-right: 8vw;
}


.messages-box{
  position:relative;
  margin:60px 20px 0 0;
  overflow:hidden;
  width:100%;
  -lh-property:0;
  height: 80%;
}

.messages-box ul{
  padding:21px 0 10px;
}

.messages-container{
  position:absolute;
  max-width: 50%;
  /*width:100%;
  height:100%;
  bottom:0;
  left:0;*/
}

.messages-container .wrapper{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  overflow-y:auto;
  overflow-x:hidden;
  word-wrap:break-word;
  -webkit-overflow-scrolling:touch;
}

.message {
  padding: 8px 20px 4px 70px;
  position: relative;
  line-height: 20px;
  min-height: 10vh;
  display: table;
}

.message .text {
  font-size: 130%;
  /*margin-left: 90px;*/
  padding-left: 5vw;
  display: table-cell;
  vertical-align: middle;
  line-height: 120%;
  text-align: left;
  min-width: 40vw;
}

.message .profilePic {
  /*position: absolute;*/
  left: 20px;
  /*display: block;*/
  width: 6vw;
  height: 6vw;
  display: table-cell;
  vertical-align: middle;
  position: absolute;

}

.message .li {
  /*text-align: left;*/
}


/* Hover tooltips */
.field-tip {
    position:relative;
    cursor:help;
}

.field-tip .tip-content {
        font-size: 70%;
        position:absolute;
        top:-10px; /* - top padding */
        right:9999px;
        width:200px;
        margin-right:-220px; /* width + left/right padding */
        padding:10px;
        color:#fff;
        background:#333;
        -webkit-box-shadow:2px 2px 5px #aaa;
           -moz-box-shadow:2px 2px 5px #aaa;
                box-shadow:2px 2px 5px #aaa;
        opacity:0;
        -webkit-transition:opacity 250ms ease-out;
           -moz-transition:opacity 250ms ease-out;
            -ms-transition:opacity 250ms ease-out;
             -o-transition:opacity 250ms ease-out;
                transition:opacity 250ms ease-out;
}

/* <http://css-tricks.com/snippets/css/css-triangle/> */
.field-tip .tip-content:before {
    content:' '; /* Must have content to display */
    position:absolute;
    top:50%;
    left:-16px; /* 2 x border width */
    width:0;
    height:0;
    margin-top:-8px; /* - border width */
    border:8px solid transparent;
    border-right-color:#333;
}

.field-tip:hover .tip-content {
    right:-20px;
    opacity:1;
}

.logo {
  display: block;
  width: auto;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 50px;
}

/*.centered {
  position: fixed; 
  top: 50%; 
  left: 20%; 
  transform: translate(-50%, -50%);
}*/


.center-parent {
  position: relative;
  height: 90vh;
}
.center-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


ul.fadeout li:nth-child(1){
    -webkit-animation: fadeOut 2s linear forwards;
}
ul.fadeout li:nth-child(2){
    -webkit-animation: fadeOut 2s linear 2s forwards;
}
ul.fadeout li:nth-child(3){
    -webkit-animation: fadeOut 2s linear 4s forwards;
}
ul.fadeout li:nth-child(1){
    -webkit-animation: fadeOut 2s linear forwards;
}
@-webkit-keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}


.messages-box ul li { opacity: 0; -webkit-transition: opacity 200ms linear;}
.messages-box ul.fadeIn li {}

.messages-box ul.fadeIn li:nth-child(1) {-webkit-animation: fadeIn 0.2s linear forwards;}
.messages-box ul.fadeIn li:nth-child(2) {-webkit-animation: fadeIn 2s linear 1s forwards;}
.messages-box ul.fadeIn li:nth-child(3) {-webkit-animation: fadeIn 2s linear 3s forwards;}
.messages-box ul.fadeIn li:nth-child(4) {-webkit-animation: fadeIn 2s linear 5s forwards;}
.messages-box ul.fadeIn li:nth-child(5) {-webkit-transition-delay: 0.4s}
.messages-box ul.fadeIn li:nth-child(6) {-webkit-transition-delay: 0.5s}
.messages-box ul.fadeIn li:nth-child(7) {-webkit-transition-delay: 0.6s}
.messages-box ul.fadeIn li:nth-child(8) {-webkit-transition-delay: 0.7s}
.messages-box ul.fadeIn li:nth-child(9) {-webkit-transition-delay: 0.8s}
.messages-box ul.fadeIn li:nth-child(10){-webkit-transition-delay: 0.9s}
.messages-box ul.fadeIn li:nth-child(11){-webkit-transition-delay: 1s}
.messages-box ul.fadeIn li:nth-child(12){-webkit-transition-delay: 1.1s}
.messages-box ul.fadeIn li:nth-child(13){-webkit-transition-delay: 1.2s}
.messages-box ul.fadeIn li:nth-child(14){-webkit-transition-delay: 1.3s}
.messages-box ul.fadeIn li:nth-child(15){-webkit-transition-delay: 1.4s}

.message {
  opacity: 0;
  /*visibility: hidden;*/
}

#section5 .text{
  font-size: 160%;
  line-height: 130%;
}

#section5 ul li { opacity: 0; -webkit-transition: opacity 200ms linear;}
/*#section5 ul.fadeIn li {opacity: 1;}*/
#section5 ul.fadeIn li:nth-child(1) {-webkit-animation: fadeIn 0.2s linear forwards;}
#section5 ul.fadeIn li:nth-child(2) {-webkit-animation: fadeIn 2s linear 1s forwards;}
#section5 ul.fadeIn li:nth-child(3) {-webkit-animation: fadeIn 2s linear 2s forwards;}
#section5 ul.fadeIn li:nth-child(4) {-webkit-animation: fadeIn 2s linear 3s forwards;}
#section5 ul.fadeIn li:nth-child(5) {-webkit-animation: fadeIn 2s linear 4s forwards;}
#section5 ul.fadeIn li:nth-child(6) {-webkit-animation: fadeIn 2s linear 5s forwards;}