@CHARSET "ISO-8859-1";

/* Reset CSS
* --------------------------------------- */

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

table {
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-weight: normal;
    font-style: normal;
}

strong {
    font-weight: bold;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
}


/* Custom CSS
* --------------------------------------- */

@font-face {
    font-family: 'Bebas';
    src: url("fonts/Bebas/BEBAS.ttf");
}

body {
    font-size: 2vh;
    font-family: 'Quicksand', sans-serif;
    color: #F2F2F2;
}

h1 {
    font-size: 250%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight: bold;
}

h2 {
    font-size: 200%;
    padding-left: 3%;
    padding-right: 3%;
    font-weight: bold;
}

p {
    font-size: 150%;
    padding-left: 4%;
    padding-right: 4%;
}

.btn {
    font-family: 'Quicksand', sans-serif;
}

.section {
    text-align: center;
}

img {
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 100%;
    max-width: 100%;
    align-self: center;
    object-fit: contain;
}

.content.containercenter {
    height: 100%;
    display: flex;
    justify-content: center;
}

.spinitem {
    -webkit-animation: rotate 2.5s ease infinite;
    animation: rotate 2.5s ease infinite;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(1440deg);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(1440deg);
    }
}

.bottomCenter {
    width: auto;
    height: 40px;
    position: static;
    left: 50%;
    bottom: 0px;
    z-index: 10;
    margin-bottom: 10%;
    margin-left: -60px;
}

.fp-slidesNav {
    white-space: nowrap;
    text-align: center;
}

.btn-continue {
    animation: 20s fadeIn;
    animation-fill-mode: forwards;
    visibility: hidden;
    color: #d40c0c;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        visibility: visible;
        opacity: 1;
    }
}

.left-icon {
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding-right: 0.4%;
}

.btn {
    position: relative;
    /*display: block;*/
    margin: 2vh auto;
    padding: 0;
    font-weight: bold;
    overflow: hidden;
    border-width: 0;
    outline: none;
    border-radius: 22px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
    background-color: #ea210c;
    color: #ecf0f1;
    transition: background-color .3s;
    margin-right: 2%;
    margin-left: 2%;
}

.btn:hover,
.btn:focus {
    background-color: #333;
    cursor: pointer;
}

.btn>* {
    position: relative;
}

.btn span {
    display: block;
    padding: 12px 24px;
}

.btn:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 0;
    padding-top: 0;
    border-radius: 100%;
    background-color: rgba(236, 240, 241, .3);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn:active:before {
    width: 120%;
    padding-top: 120%;
    transition: width .2s ease-out, padding-top .2s ease-out;
}


/* Section 1
* --------------------------------------- */

#section0 {
    /*background-color: #fff;*/
}

#section0 h1 {
    color: #ea210c;
}

#section0 p {
    color: #333;
    opacity: 0.8;
}


/* Section 1
* --------------------------------------- */

#section1 {
    /*background-color: #2EBE21;*/
}

#section1 h1 {
    color: #333;
}

#section1 h2 {
    color: #2EBE21;
    opacity: 0.8;
}

#section1 p {
    color: #333;
    opacity: 0.8;
}


/* Section 2
* --------------------------------------- */

#section2 {
    /*background-color: #EAE1C0;*/
    background-color: #ffe7d2;
}

#section2 h1 {
    /*color: #555;*/
    color: #58402c;
}

#section2 p {
    /*color: #444;*/
    color: #58402c;
    opacity: 0.6;
    font-size: 200%;
}


/* Section 2
* --------------------------------------- */

#section3 {
    /*background-color: #DE564B;*/
}

#section3 h1 {
    color: #ea210c;
}

#section3 h2 {
    color: #333;
    opacity: 0.7;
}

#section3 p {
    color: #525051;
    /*opacity: 0.7;*/
}


/* Section 4
* --------------------------------------- */

#section4 {
    /*background-color: #1BBC9B;*/
}

#section4 h1 {
    color: #ea210c;
}

#section4 p {
    color: #525051;
    /*opacity: 0.9;*/
}


/* Section 5
* --------------------------------------- */

#section5 {
    /*background-color: #1BBC9B;*/
}

#section5 h1 {
    color: #ea210c;
}

#section5 h2 {
    color: #333;
    opacity: 0.3;
}

#section5 p {
    color: #525051;
    /*opacity: 0.9;*/
}


/* Section 6
* --------------------------------------- */

#section6 {
    /*background-color: #2EBE21;*/
}

#section6 h1 {
    color: #ea210c;
}

#section6 h2 {
    color: #333;
    opacity: 0.7;
}

#section6 p {
    color: #525051;
    font-size: 160%;
    line-height: 120%;
}

.bottomCenter {
    z-index: 123123123213;
    /*width: 120px; height: auto; position: absolute;left: 50%;bottom: 0px; z-index: 100; margin-bottom: 10%;
margin-left: -60px;*/
}

.icon {
    width: 48px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.caption {
    display: block;
    color: #555;
}

.profilePic {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.xButton {
    display: inline-block;
    padding: 6px 10px;
    color: #fff;
    /*border: 1px solid #333;*/
    background-color: #303f9f;
    border-radius: 3px;
    font-weight: bold;
    line-height: normal;
    text-decoration: none;
    text-align: center;
    outline: none;
    /*text-shadow: 2px 2px 4px #fff;*/
    /*box-shadow: 0px 2px 10px #fff;*/
    border-radius: 2px;
    /*box-shadow: 0px 1px 1px #fff;*/
}

.xButton:hover,
.xButton:focus {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    /*text-shadow: 2px 2px 4px #333;*/
    /*box-shadow: 0px 1px 1px #fff;*/
}

.btn:before {
    content: "";
    background-color: #303f9f;
}

.section {
    padding-left: 8vw;
    padding-right: 8vw;
}

.messages-box {
    position: relative;
    margin: 0px 20px 0 0;
    overflow: hidden;
    width: 100%;
    -lh-property: 0;
    height: 80%;
}

.messages-box ul {
    padding: 21px 0 10px;
}

.messages-container {
    position: absolute;
    max-width: 50%;
    /*width:100%;
  height:100%;
  bottom:0;
  left:0;*/
}

.messages-container .wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    -webkit-overflow-scrolling: touch;
}

.message {
    padding: 8px 20px 4px 70px;
    position: relative;
    line-height: 20px;
    min-height: 7vh;
    display: table;
}

.message .text {
    font-size: 130%;
    /*margin-left: 90px;*/
    padding-left: 5vw;
    display: table-cell;
    vertical-align: middle;
    line-height: 120%;
    text-align: left;
    min-width: 40vw;
}

.message .profilePic {
    /*position: absolute;*/
    left: 20px;
    /*display: block;*/
    width: 4vw;
    height: 4vw;
    display: table-cell;
    vertical-align: middle;
    position: absolute;
}

.message .li {
    /*text-align: left;*/
}


/* Hover tooltips */

.field-tip {
    position: relative;
    cursor: help;
}

.field-tip .tip-content {
    font-size: 70%;
    position: absolute;
    top: -10px;
    /* - top padding */
    right: 9999px;
    width: 200px;
    margin-right: -220px;
    /* width + left/right padding */
    padding: 10px;
    color: #fff;
    background: #333;
    -webkit-box-shadow: 2px 2px 5px #aaa;
    -moz-box-shadow: 2px 2px 5px #aaa;
    box-shadow: 2px 2px 5px #aaa;
    opacity: 0;
    -webkit-transition: opacity 250ms ease-out;
    -moz-transition: opacity 250ms ease-out;
    -ms-transition: opacity 250ms ease-out;
    -o-transition: opacity 250ms ease-out;
    transition: opacity 250ms ease-out;
}


/* <http://css-tricks.com/snippets/css/css-triangle/> */

.field-tip .tip-content:before {
    content: ' ';
    /* Must have content to display */
    position: absolute;
    top: 50%;
    left: -16px;
    /* 2 x border width */
    width: 0;
    height: 0;
    margin-top: -8px;
    /* - border width */
    border: 8px solid transparent;
    border-right-color: #333;
}

.field-tip:hover .tip-content {
    right: -20px;
    opacity: 1;
}

.logo {
    display: block;
    width: auto;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 36px;
}


/*.centered {
  position: fixed; 
  top: 50%; 
  left: 20%; 
  transform: translate(-50%, -50%);
}*/

.center-parent {
    position: relative;
    height: 90vh;
}

.center-child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul.fadeout li:nth-child(1) {
    -webkit-animation: fadeOut 2s linear forwards;
}

ul.fadeout li:nth-child(2) {
    -webkit-animation: fadeOut 2s linear 2s forwards;
}

ul.fadeout li:nth-child(3) {
    -webkit-animation: fadeOut 2s linear 4s forwards;
}

ul.fadeout li:nth-child(1) {
    -webkit-animation: fadeOut 2s linear forwards;
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.messages-box ul li {
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
}

.messages-box ul.fadeIn li {}

.messages-box ul.fadeIn li:nth-child(1) {
    -webkit-animation: fadeIn 0.1s linear forwards;
    -moz-animation: fadeIn 0.1s linear forwards;
}

.messages-box ul.fadeIn li:nth-child(2) {
    -webkit-animation: fadeIn 1s linear 0.5s forwards;
    -moz-animation: fadeIn 1s linear 0.5s forwards;
}

.messages-box ul.fadeIn li:nth-child(3) {
    -webkit-animation: fadeIn 1s linear 1s forwards;
    -moz-animation: fadeIn 1s linear 1s forwards;
}

.messages-box ul.fadeIn li:nth-child(4) {
    -webkit-animation: fadeIn 1s linear 1.5s forwards;
    -moz-animation: fadeIn 1s linear 1.5s forwards;
}

.messages-box ul.fadeIn li:nth-child(5) {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s
}

.messages-box ul.fadeIn li:nth-child(6) {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s
}

.messages-box ul.fadeIn li:nth-child(7) {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s
}

.messages-box ul.fadeIn li:nth-child(8) {
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s
}

.messages-box ul.fadeIn li:nth-child(9) {
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s
}

.messages-box ul.fadeIn li:nth-child(10) {
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s
}

.messages-box ul.fadeIn li:nth-child(11) {
    -webkit-transition-delay: 1s;
    -moz-transition-delay: 1s
}

.messages-box ul.fadeIn li:nth-child(12) {
    -webkit-transition-delay: 1.1s;
    -moz-transition-delay: 1.1s
}

.messages-box ul.fadeIn li:nth-child(13) {
    -webkit-transition-delay: 1.2s;
    -moz-transition-delay: 1.2s
}

.messages-box ul.fadeIn li:nth-child(14) {
    -webkit-transition-delay: 1.3s;
    -moz-transition-delay: 1.3s
}

.messages-box ul.fadeIn li:nth-child(15) {
    -webkit-transition-delay: 1.4s;
    -moz-transition-delay: 1.4s
}

.message {
    opacity: 0;
    /*visibility: hidden;*/
}

#section5 .text {
    font-size: 160%;
    line-height: 130%;
    color: #525051;
}

#section5 ul li {
    opacity: 0;
    -webkit-transition: opacity 200ms linear;
    -moz-transition: opacity 200ms linear;
}


/*#section5 ul.fadeIn li {opacity: 1;}*/

#section5 ul.fadeIn li:nth-child(1) {
    -webkit-animation: fadeIn 0.1s linear forwards;
    -moz-animation: fadeIn 0.1s linear forwards;
}

#section5 ul.fadeIn li:nth-child(2) {
    -webkit-animation: fadeIn 1s linear 0.5s forwards;
    -moz-animation: fadeIn 1s linear 0.5s forwards;
}

#section5 ul.fadeIn li:nth-child(3) {
    -webkit-animation: fadeIn 1s linear 1s forwards;
    -moz-animation: fadeIn 1s linear 1s forwards;
}

#section5 ul.fadeIn li:nth-child(4) {
    -webkit-animation: fadeIn 1s linear 1.5s forwards;
    -moz-animation: fadeIn 1s linear 1.5s forwards;
}

#section5 ul.fadeIn li:nth-child(5) {
    -webkit-animation: fadeIn 1s linear 2s forwards;
    -moz-animation: fadeIn 1s linear 2s forwards;
}

#section5 ul.fadeIn li:nth-child(6) {
    -webkit-animation: fadeIn 1s linear 2.5s forwards;
    -moz-animation: fadeIn 1s linear 2.5s forwards;
}

#menu li {
    display: inline-block;
    margin: 10px;
    color: #000;
    background: transparent;
    background: rgba(255, 255, 255, 0.5);
    opacity: 0.5;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

#menu li.active {
    background: #666;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}

#menu li a {
    text-decoration: none;
    color: #000;
}

#menu li.active a:hover {
    color: #000;
}

#menu li:hover {
    background: rgba(255, 255, 255, 0.8);
}

#menu li a,
#menu li.active a {
    padding: 9px 18px;
    display: block;
}

#menu li.active a {
    color: #fff;
}

#menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 40px;
    z-index: 70;
    width: 100%;
    padding: 0;
    margin: 0;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
    background: #cccccc;
}


/*
#section6 ul li { opacity: 0; -webkit-transition: opacity 200ms linear;-moz-transition: opacity 200ms linear;}
#section6 ul.fadeIn li:nth-child(1) {-webkit-animation: fadeIn 0.1s linear forwards; -moz-animation: fadeIn 0.1s linear forwards;}
#section6 ul.fadeIn li:nth-child(2) {-webkit-animation: fadeIn 1s linear 0.5s forwards;-moz-animation: fadeIn 1s linear 0.5s forwards;}
#section6 ul.fadeIn li:nth-child(3) {-webkit-animation: fadeIn 1s linear 1s forwards;-moz-animation: fadeIn 1s linear 1s forwards;}
#section6 ul.fadeIn li:nth-child(4) {-webkit-animation: fadeIn 1s linear 1.5s forwards;-moz-animation: fadeIn 1s linear 1.5s forwards;}
#section6 ul.fadeIn li:nth-child(5) {-webkit-animation: fadeIn 1s linear 2s forwards;-moz-animation: fadeIn 1s linear 2s forwards;}
#section6 ul.fadeIn li:nth-child(6) {-webkit-animation: fadeIn 1s linear 2.5s forwards;-moz-animation: fadeIn 1s linear 2.5s forwards;}
*/

.profilePicsmall {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    -webkit-filter: grayscale(100%);
    /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.specialWord {
    font-weight: bold;
    color: #545454;
    /* color: #F44336; */
    font-size: 80%;
}

.message .text {
    color: #525051;
}

.btn.light {
    background-color: #fff;
    color: #333;
}

.btn.light:before {
    /*background-color: #dedede;*/
    color: #333;
}

.btn.light:hover {
    background-color: #dedede;
    color: #333;
}

.btn.light {
    display: inline-flex;
    margin-right: 20px;
    margin-left: 20px;
    padding-right: 24px;
    padding-left: 24px;
    padding-top: 2px;
    padding-bottom: 2px;
    /*background-color: #dedede;*/
}

.btn.light span {
    background-color: inherit;
    padding-left: 5px;
    padding-right: 0px;
}

.btn.light img {
    padding-right: 0;
}

.uppercase {
    /*text-transform: uppercase;*/
}

.btn.lights {
    background-color: #fff;
    color: #333;
}

.btn.lights:before {
    background-color: #dedede;
    color: #333;
}

.btn.lights:hover {
    background-color: #fff;
    color: #333;
}

.btn.lights {
    background-color: #dedede;
}

#section7 {
    background-color: rgba(244, 244, 244, 0.47) !important;
}

h2 {
    color: #777777;
}

.colorEffect {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.colorEffect:hover {
    -webkit-filter: grayscale(10%) opacity(1);
    filter: grayscale(10%) opacity(1);
}

.portfolioPic {
    height: 30vh;
    width: auto;
}

.stepCount {
    background-color: #ea210c;
    color: #fff;
    font-size: 80%;
    font-weight: bold;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-right: 4px;
}

.dropCapLetter {
    color: #ea210c;
    /* float: left; */
    font-family: Georgia;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.fadeoutCursor {
    -webkit-animation: fadeOut 6s linear forwards;
    color: #000;
}

#load {
    position: relative;
    width:100%;
    height:100%;
    position:fixed;
    z-index:9999;
    background-color: #fff;
}

#load .spinitem {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width:48px; 
    height: 48px;
    padding: 12px;
    margin: -36px 0 0 -36px;
}

.icon1 {
    width:12px; 
    height: 12px;
    vertical-align: center;
}

.item .caption{
    vertical-align: center;
    padding-left: 8px;
    padding-right: 8px;
}

.yesWeHaveClass > .item {
    display: inline-flex;
}