nav{
    position: fixed;
    color:#333;
    z-index: 19999;
    border-bottom: 1px solid #eee;
    width:100%;
    background-color: white;
    height: 5em;
    display: flex;
}

#nav_big{
    display: flex;
}
#nav_small{
    display: none;
}

nav ul li{
    display:inline-flex;
    vertical-align: bottom;
}

nav ul{
    margin:auto;
}
canvas{
    overflow: hidden;
}

nav>ul>li>a{
    padding: 0 1em;
    display:flex;
    font-size: 1.3em;
    margin: auto 0;
    color: #999;
}

nav li>ul{
    position: absolute;
    display:none;
    color: #999;
    background-color: white;
    padding: 1em 0;
    border: 1px solid #eee;
    border-top: 0;
    border-radius: 0 0 0.5em 0.5em;
    width: 15em;
    margin-top: 3.2275em;
}


nav li>ul li a{
    display: block;
    padding: 0 1em 1em 1em;
    color: #999;
    font-size: 1.3em;
    text-decoration: none;
}

nav li>ul li a:hover{
    color:#ea210c;
    text-decoration: none;
}

nav li>a:hover{
    color:#ea210c;
    text-decoration: none;
}

/* nav li:hover> ul{ */
    /* position: absolute; */
    /* display: block; */
/* } */

.i_name{
    color:#ea210c;
    display:flex;
    align-content: left;
}
.i_name>div{
    display:flex;
}

.i_name>div>img{
    height:1em;
}
.i_name>div>div>p{
    font-size: 1em;
    align-self: flex-end;
    white-space: nowrap;
    font-weight: 600;
}

.i_name>div>div{
    display:flex;
    padding-left: 0.3em;
}

.options{
    width:100%;
}

.highlight{
    color:#ea210c;
}

@media screen and (max-width: 800px) {
    nav {
        flex-direction: column;
        height:auto;
    }

    #nav_big{
        display: none;
    }
    #nav_small{
        display: flex;
    }
    nav ul {
        /* width: 100%; */
        display: flex;
        justify-content: space-between;
    }

    .logo_bar{
        /* padding: 1em 1em; */
        margin: 1em 1em;
    }
    .options{
        width:100%;
        display: none; /*onclick it will turn to flex */
        flex-direction: column;
    }
    .options>li{
        padding:1em 4em;
    }
     .options>li :hover{
         color:#ea210c;
     }
    nav i{
        border:1px solid #999;
        border-radius: 4px;
        padding: 8px;
    }

    nav i:hover{
        border:1px solid #ea210c;
        color: #ea210c;
        text-decoration: none;
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
only screen and (                min-resolution: 192dpi) and (min-width: 700px),
only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 
    /* Medium screen, retina, stuff to override above media query */
    
    nav>ul>li>a{
        font-size: 1em;
    }

    @media only screen and (orientation:portrait){
        nav {
            flex-direction: column;
            height:auto;
        }
    
        #nav_big{
            display: none;
        }
        #nav_small{
            display: flex;
        }
        nav ul {
            /* width: 100%; */
            display: flex;
            justify-content: space-between;
        }
    
        .logo_bar{
            /* padding: 1em 1em; */
            margin: 1em 1em;
        }
        .options{
            width:100%;
            display: none; /*onclick it will turn to flex */
            flex-direction: column;
        }
        .options>li{
            padding:1em 4em;
        }
         .options>li :hover{
             color:#ea210c;
         }
        nav i{
            border:1px solid #999;
            border-radius: 4px;
            padding: 1em;
        }
    
        nav i:hover{
            border:1px solid #ea210c;
            color: #ea210c;
        }
    }
}
