nav{
    position: fixed;
    color:#333;
    z-index: 19999;
    border-bottom: 1px solid #eee;
    width:100%;
    background-color: white;
    height: 5em;
    display: flex;
}

nav ul li{
    display:inline-flex;
    vertical-align: bottom;
}

nav ul{
    margin:auto;
}

nav>ul>li>a{
    padding: 0 1em;
    display:flex;
    font-size: 1.3em;
    margin: auto 0;
    color: #999;
}

nav li>ul{
    position: absolute;
    display:none;
    color: #999;
    background-color: white;
    padding: 1em 0;
    border: 1px solid #eee;
    border-top: 0;
    border-radius: 0 0 0.5em 0.5em;
    width: 15em;
    margin-top: 2.9375em;
    -webkit-transition: display 0s linear 2s infinite alternate; /* Safari */
    transition: display 0s linear 2s infinite alternate;
}

nav li>ul li{
    display: block;
    padding: 0 1em 1em 1em;
}

nav li>ul li a{
    display: block;
}

nav li>ul li a:hover{
    color:#ea210c;
}

nav li:hover{
    color:#ea210c;
}

/* nav li:hover> ul{ */
    /* position: absolute; */
    /* display: block; */
/* } */

.i_name{
    color:#ea210c;
    display:flex;
    align-content: left;
}
.i_name>div{
    display:flex;
}

.i_name>div>img{
    width:2vw;
    height:2vw;
}
.i_name>div>div>p{
    font-size: 1.2vw;
    align-self: flex-end;
}

.i_name>div>div{
    display:flex;
    
}